<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura-earthly.css" type="text/css">
		<!-- <link rel="stylesheet" href="/src/pages/style.css" /> -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CM-Dev</title>
	</head>
	<body>
		<!-- <Terminal /> -->
		<div>
			<a href="/">Home</a>
        	<a href="about">About</a>
			<a href="projects">Projects</a>
			<a href="technologies">Tech</a>
			<a href="interests">Interests</a>
			<a href="/blog/">Blog</a>
		</div>

        <div id="main">
            <h2>Charlie's CV:</h2>
			<hr>

                <embed
                    src="/images/CV_2025_Pro.pdf"
                    type="application/pdf"
                    width="100%"
                    height="800px"
                    class="border border-gray-300 rounded"
                />
            <hr>

        </div>

		

        <div id="main"></div>
    </body>
</html>